<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberCodeOnline</title>
</head>
<body>
    <header> 
        <div class="level-count">888</div>
        <div class="prof-info">
            <div class="player-info">
                <div class="nickname">Arleking1521</div>
                <div class="bandName">Legion[LEG]</div>
            </div>
            <div class="level-info">
                <div class="level-bar"></div>
                <div class="exp-count"></div>
            </div>
            <div class="moneys">
                <div class="btc">1253025 BTC</div>
                <div class="units">123456 UNITS</div>
            </div>
        </div>
    </header>
    <main>
        <div class="info-pic">
            <div class="page-name"> Shangri-La City Center </div>
            <div class="page-info">
                <div class="back-img"></div>
                <div class="info">
                    [Central Hub] <br>
                    One of the busiest cities in the continent. Here you can find all sorts of people from around the globe.
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="chapter-name"> INTERACTABLE</div>
            <div class="act-row">
                 <div class="act-items exchange-office">
                    <div class="act-item-img"><img src="/images/diamond.png"></div>
                    <div class="act-item-name">ARASAKA UNIT EXCHANGE</div>
                 </div>
                 <div class="act-items cyberwear">
                    <div class="act-item-img"><img src="/images/cyberwear.png"></div>
                    <div class="act-item-name">COSMETIC CYBERWEAR</div>
                 </div>
                 <div class="act-items printer">
                    <div class="act-item-img"><img src="/images/printer.png"></div>
                    <div class="act-item-name">MOLECULAR 3D PRINTER</div>
                 </div>
            </div>
            <div class="act-row">
                <div class="act-items weapon-smith">
                    <div class="act-item-img"><img src="/images/weapon.png"></div>
                    <div class="act-item-name">WEAPON SMITH</div>
                </div>
                <div class="act-items mart">
                    <div class="act-item-img"><img src="/images/mart.png"></div>
                    <div class="act-item-name">TRINOKY MART</div>
                </div>
                <div class="act-items terminal">
                    <div class="act-item-img"><img src="/images/terminal.png"></div>
                    <div class="act-item-name">TERMINAL</div>
                </div>
            </div>
            <div class="act-row">
                <div class="act-items bank">
                    <div class="act-item-img"><img src="/images/bank.png"></div>
                    <div class="act-item-name">BANK OF ARASAKA</div>
                </div>
                <div class="act-items trade-post">
                    <div class="act-item-img"><img src="/images/tpost.png"></div>
                    <div class="act-item-name">LEE'S TRADING POST</div>
                </div>
                <div class="act-items cali-station">
                    <div class="act-item-img"><img src="/images/calibration.png"></div>
                    <div class="act-item-name">CALIBRATION STATION</div>
                </div>
            </div>
            
        </div>
        <div class="go-to">
            <div class="chapter-name">TRAVEL</div>
            <div class="gt-items station">
                <div class="gt-item-img"><img src="/images/travel.png"></div>
                <div class="gt-item-info">
                    <div class="gt-item-name">GO TO HYPER TRAIN CENTRAL STATION</div>
                    <div class="gt-item-descript">[Adventure] Using the hyperloop, you can travel at supersonic speed across the continent with ease.</div>
                </div>
            </div>
            <div class="gt-items bussines">
                <div class="gt-item-img"><img src="/images/com-area.png"></div>
                <div class="gt-item-info">
                    <div class="gt-item-name">GO TO SHANGRI-LA COMMERCIAL AREA</div>
                    <div class="gt-item-descript">[Job Hub] Here are many shops and businesses reside. The perfect location to hone and refine your skills.</div>
                </div>
            </div>
            <div class="gt-items shop">
                <div class="gt-item-img"><img src="/images/market.png"></div>
                <div class="gt-item-info">
                    <div class="gt-item-name">GO TO SHANGRI-LA MARKET STREET</div>
                    <div class="gt-item-descript">[Player Market] The famous market street in Shangri-La. Loads of market stalls fill the street.</div>
                </div>
            </div>
            <div class="gt-items band-room">
                <div class="gt-item-img"><img src="/images/band.png"></div>
                <div class="gt-item-info">
                    <div class="gt-item-name">GO TO GANG HEADQUARTERS</div>
                    <div class="gt-item-descript">[Gang] The headquarters for you and your gang members to plan and execute your next operation</div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="menu">
            <button class="map"></button>
            <button class="inventory"></button>
            <button class="profile"></button>
        </div>
    </footer>
</body>
</html>