
/* =================================================Header========================================== */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px rgb(91, 91, 91) ;
}

.tb{
    color: rgb(128, 143, 140);
}

.tb:hover{
    font-weight: 600;
    color: rgb(192, 228, 220);
    text-shadow: -3px -3px 3px rgb(192, 228, 220);
}

/* ==============================================Main================================================= */

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1620px;
}

.chapter-name{
    display: flex;
    align-items: center;
    width: 98.5%;
    height: 35px;
    border: solid 1px rgb(91, 91, 91);
    color: rgb(192, 228, 220);
    padding-left: 10px;
    border-radius: 0 0 10px 0;
}

/* ------------------------------------------quick slots----------------------------------------------- */

.quick-slots{
    width: 100%;
    height: 120px;
}

.slots{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
}

.qs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: rgb(128, 143, 140);
    border: solid 1px rgb(128, 143, 140);
    border-radius: 0 10px 0 10px;
}

/* ------------------------------------------equipped--------------------------------------------------- */

.equipped{
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.equip{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 150px;
    justify-content: center;
}

.eq-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 20px;
    background-color: rgb(192, 228, 220);
    border-radius: 0 5px 0 0;
    font-size: 10px;
    font-weight: 600;
}
.eq-slot{
    display: flex;
    flex-direction: row;
    border: solid 1px rgb(192, 228, 220);
    border-radius: 0 30px 0 30px;
    width: 100%;
    height: 120px;
}