
/* =================================================HeaderPage========================================== */

.header{
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
}

.tb{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-weight: 600;
    color: rgb(192, 228, 220);
    text-shadow: -3px -3px 3px rgb(192, 228, 220);
    border-bottom: solid 1px rgb(91, 91, 91);
}

.Cell-count{
    display: flex;
    width: 100%;
    height: 30px;
    color: rgb(192, 228, 220);
    align-items: center;
    border-bottom: solid 1px rgb(91, 91, 91);
    z-index: 99;
    box-shadow: 0 10px 10px rgb(30, 30, 30);
}

/* ==============================================Main================================================= */

.inv-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    height: auto;
}

.invCell{
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgb(91, 91, 91);
}

.invCell-img{
    width: 80px;
    height: 80px;
    border: solid 1px rgb(91, 91, 91);
}

.invCell-desc{
    width: 80%;
    height: auto;
    font-weight: 600;
    color: rgb(192, 228, 220);
}

.invCell-count{
    width: 50px;
    height: auto;
    font-weight: 600;
    color: rgb(192, 228, 220);
}