

/* ==========================================================HEADER======================================================== */

header{
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50px;
    box-shadow: 0 10px 10px rgb(30, 30, 30);
}

.level-count{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: solid 1px rgb(192, 228, 220);
    border-radius: 0 0 0 15px;
    color: rgb(192, 228, 220);
    font-size: 25px;
}

.prof-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}

/* ----------------------------------------------------player-info---------------------------------------------------- */

.player-info{
    display: flex;
    flex-direction: row;
    height: 15px;
    color: rgb(192, 228, 220);
    font-weight: 600;
}

.nickname{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
}

.bandName{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
}

/* ---------------------------------------------level-info-------------------------------------------------- */

.level-info{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 10px;
}

.level-bar{
    display: flex;
    width: 80%;
    height: 10px;
    border: solid blue 2px;
}

.exp-count{
    display: flex;
    width: 20%;
    height: 10px;
    border: solid green 2px;
}

/* ---------------------------------------------moneys-info----------------------------------------------- */

.moneys{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    height: 15px;
    color: rgb(192, 228, 220);
    font-weight: 500;
}

.btc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
}

.units{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
}

/* ============================================================MAIN========================================================= */

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 1300px;
    margin-top: 80px;
    margin-bottom: 50px;
}

/* ----------------------------------------------info-pic--------------------------------------------------- */

.info-pic{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 300px;
    background-image: url(../assets/city-background-mainPage.jpg);
    background-size: 100%;
    align-items: center;
}

.page-name{
    display: flex;
    position: relative;
    top: 5%;
    width: 80%;
    height: 50px;
    background: none;
    text-shadow: yellow -5px -6px 5px;
    color: yellow;
    font-size: 50px;
    font-weight: 600;
}

.page-info{
    display: flex;
    position: relative;
    top: 37%;
    width: 80%;
    height: 100px;
    background: none;
    color: rgb(192, 228, 220);
}
.info{
    position: absolute;
    display: flex;
    background: none;
    padding: 20px;
    background: none;
    backdrop-filter: blur(15px);
}

/* ------------------------------------------------------actions---------------------------------------------------- */

.actions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 350px;
}

.chapter-name{
    display: flex;
    align-items: center;
    width: 98.5%;
    height: 35px;
    border: solid 1px rgb(91, 91, 91);
    color: rgb(192, 228, 220);
    padding-left: 10px;
    border-radius: 0 0 10px 0;
}

.act-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 80px;
}

/* ...........................................act-items.................................. */

.act-items{
    display: flex !important;
    flex-direction: row !important;
    width: 220px !important;
    height: 80px !important;
    border: solid 1px rgb(192, 228, 220) !important;
    background: none !important;
    align-items: center !important;
    justify-content: center !important;
    color: rgb(192, 228, 220) !important;
    font-size: 15px !important;
    cursor: pointer !important;
    text-decoration: none !important;
}

.act-item-img{
    display: flex;
    width: 40px;
    height: 40px;
}

.act-item-name{
    display: flex;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    font-weight: 600;
}

/* .......................................exchange-ofice..................................... */

.exchange-office{
    border: solid 1px yellow !important;
    box-shadow:  -3px -3px 10px rgba(255, 255, 0, 0.514), inset -3px -3px 10px rgba(255, 255, 0, 0.514);
    color: yellow !important;
    text-shadow: yellow -5px -6px 5px;
    transition: 0.5s;
}

.exchange-office:active{
    transform: scale(0.9);
}

/* ..........................................cyberwear........................................ */

.cyberwear{
    border: solid 1px yellow !important;
    box-shadow:  -3px -3px 10px rgba(255, 255, 0, 0.514), inset -3px -3px 10px rgba(255, 255, 0, 0.514);
    color: yellow !important;
    text-shadow: yellow -5px -6px 5px;
    transition: 0.5s;
}

.cyberwear:active{
    transform: scale(0.9);
}

/* ..........................................printer........................................ */
.printer{
    transition: 0.5s;
}

.printer:active{
    transform: scale(0.9);
}

/* ..........................................weapon-smith........................................ */

.weapon-smith{
    transition: 0.5s;
}

.weapon-smith:active{
    transform: scale(0.9);
}

/* ..........................................mart........................................ */

.mart{
    transition: 0.5s;
}

.mart:active{
    transform: scale(0.9);
}

/* ..........................................terminal........................................ */

.terminal{
    transition: 0.5s;
}

.terminal:active{
    transform: scale(0.9);
}

/* ..........................................bank........................................ */

.bank{
    transition: 0.5s;
}

.bank:active{
    transform: scale(0.9);
}

/* ..........................................trade-post........................................ */

.trade-post{
    transition: 0.5s;
}

.trade-post:active{
    transform: scale(0.9);
}

/* ..........................................cali-station........................................ */

.cali-station{
    transition: 0.5s;
}

.cali-station:active{
    transform: scale(0.9);
}

/* ---------------------------------------------------go-to------------------------------------------------- */

.go-to{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 650px;
    text-decoration: none;
}

/* ..........................................gt-items........................................ */

.gt-items{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    border: solid 1px rgb(128, 143, 140);
    border-radius:0 30px 0 30px ;
    background: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.gt-item-img{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 75px;
    height: 75px;
}

.gt-item-info{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 90px;
    color: rgb(192, 228, 220);
    margin-left: 20px;
}

.gt-item-name{
    display: flex;
    width: 600px;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
}

.gt-item-descript{
    display: flex;
    color: rgb(128, 143, 140);
    width: 600px;
    height: 60px;
    font-size: 20px;
}

/* =================================================================FOOTER========================================================= */

footer{
    position: fixed;
    bottom: 0;
    display: flex;
    width: 60%;
    height: 50px;
}

/* ----------------------------------------------------menu------------------------------------------ */

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    border-top: solid 1px rgb(91, 91, 91) ;
}

.nav-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
}


/* ...........................................map......................................... */

.map-img{
    width: 30px;
    height: 30px;
    background-image: url(../assets/map.png);
    background-size: 100%;
}

.map-name{
    width: 45px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    color: rgb(192, 228, 220);
}

/* ........................................inventory......................................... */

.inv-img{
    width: 25px;
    height: 30px;
    background-image: url(../assets/inventory.png);
    background-size: 100%;
}

.inv-name{
    width: 50px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    color: rgb(192, 228, 220);
}

/* .......................................profile........................................ */


.prof-img{
    width: 25px;
    height: 30px;
    background-image: url(../assets/profile.png);
    background-size: 100%;
}

.prof-name{
    width: 45px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    color: rgb(192, 228, 220);
}